---
# yaml-language-server: $schema=https://kube-schemas.pages.dev/external-secrets.io/externalsecret_v1beta1.json
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: &name homepage-secret
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword-connect
  target:
    name: *name
    template:
      engineVersion: v2
      data:
        ## Non Cluster resources
        HOMEPAGE_VAR_CLOUDFLARED_ACCOUNTID: "{{ .CLOUDFLARE_ACCOUNT_TAG }}"
        HOMEPAGE_VAR_CLOUDFLARED_TUNNELID: "${CLOUDFLARE_TUNNEL_ID}"
        HOMEPAGE_VAR_CLOUDFLARED_API_TOKEN: "{{ .CLOUDFLARE_API_TOKEN }}"
        HOMEPAGE_VAR_UNIFI_USERNAME: "{{ .HOMEPAGE_UNIFI_USER }}"
        HOMEPAGE_VAR_UNIFI_PASSWORD: "{{ .HOMEPAGE_UNIFI_PASS }}"
        ## Default
        # HOMEPAGE_VAR_LUBELOG_USERNAME: "{{ .HOMEPAGE_VAR_LUBELOG_USERNAME }}"
        # HOMEPAGE_VAR_LUBELOG_PASSWORD: "{{ .HOMEPAGE_VAR_LUBELOG_PASSWORD }}"
        ## Downloads
        # HOMEPAGE_VAR_BAZARR_TOKEN: "{{ .BAZARR_API_KEY }}"
        HOMEPAGE_VAR_PROWLARR_TOKEN: "{{ .PROWLARR_API_KEY }}"
        # HOMEPAGE_VAR_QBITTORRENT_USERNAME: "{{ .QBITTORRENT_USERNAME }}"
        # HOMEPAGE_VAR_QBITTORRENT_PASSWORD: "{{ .QBITTORRENT_PASSWORD }}"
        HOMEPAGE_VAR_RADARR_TOKEN: "{{ .RADARR_API_KEY }}"
        # HOMEPAGE_VAR_READARR_TOKEN: "{{ .READARR_API_KEY }}"
        HOMEPAGE_VAR_SABNZBD_TOKEN: "{{ .SABNZBD_API_KEY }}"
        HOMEPAGE_VAR_SONARR_TOKEN: "{{ .SONARR_API_KEY }}"
        ## Security
        HOMEPAGE_VAR_AUTHENTIK_TOKEN: "{{ .AUTHENTIK_TOKEN }}"
  dataFrom:
  - extract:
      key: authentik
  - extract:
      key: bazarr
  - extract:
      key: cloudflare
  # - extract:
  #     key: lubelog
  - extract:
      key: prowlarr
  # - extract:
  #     key: qbittorrent
  - extract:
      key: radarr
  - extract:
      key: readarr
  - extract:
      key: sabnzbd
  - extract:
      key: sonarr
  - extract:
      key: unifi
